.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.yes,
.no {
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
}

.yes {
  background-color: var(--peachpuff);
  min-height: 2rem;
  min-width: 50px;
}

.no {
  background-color: var(--navajowhite);
}

button:active {
  top: 4px;
  box-shadow: #e74c3c 0px 3px 2px, #000 0px 3px 5px;
}

/* MEDIA QUERIES */

@media (width < 370px) {
  .container > * {
    display: block;
  }
}
